form {
    margin: 0 auto;
    width: 45%;
    overflow: hidden;
}

#context {
    height: 300px;
}


input#comment-write-area.form-control {
    margin: 0 auto;
    padding-top: 10px;
}

#button-area {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

#comment-list {
    margin-bottom: 30px;
}

